In [21]:
path = ""

In [1]:
import datetime
from datetime import timedelta
from datetime import datetime

In [2]:
import pandas as pd
import numpy as np

In [2]:
filename = "scraped_2020-10-07_13_52_13_140247.csv"
cec = pd.read_csv(filename)

In [3]:
cec.head()

,name,stars,text,timeSince,openStatus,key
0,Cassidy Jo Schneider,4.0,"A bit dated, but still so fun! Great staff and...",a week ago,Open,4.066564e+09
1,Tammy Jo McNulty,5.0,"Always have a great time, food is excellent &s...",a month ago,Open,4.066564e+09
2,Double The Bumps,5.0,We had my sons 4th birthday here it was REALLY...,7 months ago,Open,4.066564e+09
3,Jacob Clos,5.0,Everyone there was having a great time. It was...,7 months ago,Open,4.066564e+09
4,Jim,4.0,We've taken our little guy to Chuck E. Cheese ...,a year ago,Open,4.066564e+09

In [4]:
from date_process import date_converter

In [5]:
date_converter(cec, "timeSince", filename)

scraped_2020-10-07_13_52_13_140247.csv
2020-10-07

In [41]:
cec.head()

,name,stars,text,timeSince,openStatus,key,date,year
0,Cassidy Jo Schneider,4.0,"A bit dated, but still so fun! Great staff and...",a week ago,Open,4.066564e+09,2020-09-30,2020
1,Tammy Jo McNulty,5.0,"Always have a great time, food is excellent &s...",a month ago,Open,4.066564e+09,2020-09-07,2020
2,Double The Bumps,5.0,We had my sons 4th birthday here it was REALLY...,7 months ago,Open,4.066564e+09,2020-03-11,2020
3,Jacob Clos,5.0,Everyone there was having a great time. It was...,7 months ago,Open,4.066564e+09,2020-03-11,2020
4,Jim,4.0,We've taken our little guy to Chuck E. Cheese ...,a year ago,Open,4.066564e+09,2019-10-08,2019

In [8]:
pd.DataFrame([["cat", 0, "apple"],["dog", 1, "banana"]])

     0  1       2
0  cat  0   apple
1  dog  1  banana

In [4]:
data = [{"col1":"cat", "col2":0, "col3":"apple"},{"col1":"dog", "col2":1, "col3":"banana"}]

In [5]:
tdf = pd.DataFrame.from_records(data)

In [1]:
from df_process import get_files

In [2]:
get_files("C:\\Users\\Spencer\\Desktop\\clean", "csv")

['C:\\Users\\Spencer\\Desktop\\clean\\scraped_2020-10-07_13_52_13_140247.csv']

In [18]:
df = pd.DataFrame({'link':['=HYPERLINK("scraped_2020-10-07_13_52_13_140247.csv", "some website")']})
df.to_excel('test.xlsx')

In [4]:
from df_process import get_files

In [7]:
files = get_files("C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020", "csv")

In [8]:
files

['C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\1000804749_pizza_hut.csv',
 'C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\1000804750_pizza_hut.csv',
 'C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\1000804753_pizza_hut.csv',
 'C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\csvspizza_hut_reviews_1000804749.csv',
 'C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\csvspizza_hut_reviews_1000804750.csv',
 'C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\csvspizza_hut_reviews_1000804753.csv']

In [35]:
for file in files:
    filename = file.split("\\")[-1]
    df = pd.read_csv(file)
    df["stars"] = df["Stars"].apply(lambda x: int(float(x.split(" ")[0])))
    df.to_csv(file, index=False)

In [1]:
from df_process import combine_directory

In [2]:
import datetime

In [3]:
directory_path = "C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\"
text_directory = "C:\\Users\\Spencer\\Desktop\\clean\\pizza_hut_pre_9_30_2020\\csvs"
company_name = "pizza_hut"
address_col = "Address"
id_rule = "filename"
time_col_name="Publish_date"
current_date = datetime.datetime(2020, 9, 30)
date_col_name = "date"
combine_directory(directory_path=directory_path, 
                    company_name=company_name, 
                    text_directory=text_directory, 
                    address_col=address_col, 
                    time_col_name=time_col_name,  
                    id_rule=id_rule, 
                    current_date=current_date,
                    date_col_name=date_col_name)

In [6]:
tdf

  col1  col2    col3
0  cat     0   apple
1  dog     1  banana

In [2]:
import pandas as pd
alldata = pd.read_excel(".\\data\\data.xlsx")

In [3]:
alldata.head()

,Company ID,Industry ID,Industry Name,Company Name,Address 1,City,State,Zip,Listing Type,Country,Phone,Google Link
0,2000626178,51,Locations: Chain Restaurants,Anthony's Coal Fired Pizza,984 State Rt 17,RAMSEY,NJ,07446-1607,Location,United States of America,2.018183e+09,https://www.google.com/maps/place/Anthony's+Co...
1,2000626186,51,Locations: Chain Restaurants,Anthony's Coal Fired Pizza,80 Parsonage Rd,EDISON,NJ,08837-2416,Location,United States of America,7.327442e+09,https://www.google.com/maps/place/Anthony's+Co...
2,2000626189,51,Locations: Chain Restaurants,Anthony's Coal Fired Pizza,6401 Jericho Tpke,COMMACK,NY,11725-2832,Location,United States of America,6.318583e+09,https://www.google.com/maps/place/Anthony's+Co...
3,2000626192,51,Locations: Chain Restaurants,Anthony's Coal Fired Pizza,50 East Wynnewood Road,WYNNEWOOD,PA,19096,Location,United States of America,6.106455e+09,https://www.google.com/maps/place/Anthony's+Co...
4,2000626194,51,Locations: Chain Restaurants,Anthony's Coal Fired Pizza,48 Walkers Brook Dr,READING,MA,01867-3224,Location,United States of America,7.819448e+09,https://www.google.com/maps/place/Anthony's+Co...

In [4]:
from utilities import process_company_names

In [5]:
process_company_names(alldata, "Company Name", "name")

In [11]:
alldata["fulladdr"] = alldata.iloc[:,3] + " " + alldata.iloc[:,4] + " " + alldata.iloc[:,5] + " " + alldata.iloc[:,6]

In [12]:
alldata["fulladdr"].value_counts()

Pizza Plus 610 Van Hill Rd GREENEVILLE TN                           2
Marco's Pizza 5585 South 3500 W ROY UT                              2
Domino's 3520 West Vienna Rd CLIO MI                                2
Sbarro 100 Twin River Rd LINCOLN RI                                 2
Pizza Hut 1606 Navajo Blvd HOLBROOK AZ                              2
                                                                   ..
Domino's 1300 Brodhead Rd MOON TOWNSHIP PA                          1
Papa Murphy's Take 'N' Bake Pizza 4500 S 70th St LINCOLN NE         1
Papa Murphy's Take 'N' Bake Pizza 1406 Beltline Rd SW DECATUR AL    1
Jet's Pizza 3945 S Telegraph Rd DEARBORN HEIGHTS MI                 1
Chuck E. Cheese's 26562 Towne Centre Dr FOOTHILL RANCH CA           1
Name: fulladdr, Length: 29008, dtype: int64

In [1]:
from company_id import add_company_ids

In [2]:
output_directory = "C:\\Users\\Spencer\\Desktop\\clean\\data\\test_output_directory"
master_df_path = "C:\\Users\\Spencer\\Desktop\\clean\\data\\data.xlsx"
directory_path = "C:\\Users\\Spencer\\Desktop\\clean\\data\\bananas_11_3_20"
key_col = "key"
master_df_key_col = "Phone"
master_df_id_col = "Company ID"
id_col_name = master_df_id_col
add_company_ids(directory_path=directory_path, 
                master_df_path=master_df_path, 
                key_col=key_col, 
                master_df_key_col=master_df_key_col, 
                master_df_id_col=master_df_id_col, 
                id_col_name=id_col_name, 
                output_directory=output_directory)

2
File: C:\Users\Spencer\Desktop\clean\data\bananas_11_3_20\scraped_2020-11-03_10_50_58_759403.csv
Saving to C:\Users\Spencer\Desktop\clean\data\test_output_directory\bananas_2000334388.csv
File: C:\Users\Spencer\Desktop\clean\data\bananas_11_3_20\scraped_2020-11-03_10_51_16_538934.csv
Saving to C:\Users\Spencer\Desktop\clean\data\test_output_directory\bananas_2000303507.csv

In [3]:
import pandas as pd
master = pd.read_excel("C:\\Users\\Spencer\\Desktop\\clean\\data\\data.xlsx")
df = pd.read_csv("C:\\Users\\Spencer\\Desktop\\clean\\data\\bananas_11_3_20\\scraped_2020-11-03_10_50_58_759403.csv")

In [10]:
import re
test_string = "the_office_beer_bar_&_grill_11_3_20"
out_test = re.sub(r"\d", "", test_string).strip("_")
out_test

'the_office_beer_bar_&_grill'